
            <hr width="90%"> 
            <div id="infoEx">
                <p> This is the <b>True Words from the Famous .... </b> website. On this website you will find the 100% legitimate and shocking quotes from the most influential and famous people on this planet, living or dead. You can even submit your own favorite quotes from these people, that you may or may not have overheard in real life.</p>
                <p id="disclaimer"> DISCLAIMER: None of the things writen on this website are true, this is a joke website that is open for the use of anyone, to write whatever they want. All content will be moderated by Gato, the creator of this website. </p>
            </div>
       