<!DOCTYPE html>
<html>
<head>
  <title>Famous Watergate</title>
  <link href="	./stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<a href="/" id="homerefresh">
    	<div id="header">
        	<p id="title">True Words from the Famous <br> ... 
          	  <img src="https://33.media.tumblr.com/2ccd5c63af9acc3ad6ec563b2659c841/tumblr_ne6iuieIig1s7jjavo1_400.gif"> ...</p>
        	</div>
	</a>
	<div id="main"> 
    	<div id="info"> 
      	  <p> <img src="https://38.media.tumblr.com/b78e9000be7b15d9b6934381763d486a/tumblr_ne6ierAUsF1s7jjavo1_400.gif"> Watergate! <br> They said some outrageous shit! <br> What exactly did the say? <br><br> Well you have the power to make it be whatever you want it to be. Post some shit below. 
    	</div>



<%= yield %>

 </div>  <!-- end of main-->
        

      <div id="bottomfill"> 
            <ul> 
                <a href="/about" id="link"><li id="rightbottom">About</li></a> <a href="/contact" id="link"><li>Contact Us</li> </a>
            </ul>
        </div>

</body>
</html>
